<GridLayout rows="*, auto">
    <ScrollView>
        <StackLayout class="list-group">
            <GridLayout class="list-group-item" rows="auto, auto">
                <GridLayout columns="auto, 10, *" rows="auto, auto">
                    <!-- TODO: insert properties of editableList here -->

                    <!--<Label class="list-group-item-heading fa"></Label>-->

                    <StackLayout col="2">
                        <Label class="list-group-item-heading" [text]="item.data.Text"></Label>
                    </StackLayout>


                    <Label class="list-group-item-text m-l-10 m-t-10" row="1" colSpan="3" [text]="item.data.UserId" textWrap="true">
                    </Label>

                </GridLayout>

                <GridLayout row="1">
                    <!--- master detail form -->
                </GridLayout>
            </GridLayout>
        </StackLayout>
        <!-- START_CUSTOM_CODE_commentsDetailViewModel -->

        <!-- END_CUSTOM_CODE_commentsDetailViewModel -->
    </ScrollView>


    <ActivityIndicator class="activity-indicator" rowSpan="2" [busy]="!item" [visibility]="item ? 'collapse' : 'visible'">
    </ActivityIndicator>
</GridLayout>