<ns-action-bar [title]="title" <!--- component view navigation directive --->
    ></ns-action-bar>


<ScrollView>
    <StackLayout class="form">
        <GridLayout class="input-field" columns="*, *">
    <Label class="h3 text-muted" text="Comment"></Label>
    <TextField #commentField class="input" col="1" [(ngModel)]="item.data.Comment" hint="Type here ..."></TextField>
</GridLayout><GridLayout class="input-field" columns="*, *">
    <Label class="h3 text-muted" text="User"></Label>

    <ListPicker col="1" class="input" [items]="userDropDownDropDown.items$ | async" #userDropDown (selectedIndexChange)="onSelectedPickerChanged(userDropDown, 'userDropDownDropDown', 'UserId')" [selectedIndex]="userDropDownDropDown.index">
    </ListPicker>
</GridLayout><GridLayout class="input-field" rows="auto">
    <Label class="link h3 text-primary" #hyperlink text="Patients" [nsRouterLink]="['/nav/patientsDetailView']"></Label>
</GridLayout><!--- observationModel additional fields -->
        <GridLayout columns="*, *">

            <Button class="btn btn-primary" text="OK" (tap)="onConfirm()"></Button>

            <Button class="btn btn-outline" col="1" text="Cancel" (tap)="onCancel()"></Button>

        </GridLayout>
    </StackLayout>
</ScrollView>
<!-- additional view content -->

<!-- START_CUSTOM_CODE_observation -->
<!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

<!-- END_CUSTOM_CODE_observation -->