<GridLayout rows="*, auto">
    <ScrollView>
        <StackLayout class="list-group">
            <GridLayout class="list-group-item" rows="auto, auto">
                <GridLayout columns="auto, 10, *" rows="auto, auto">
                    <!-- TODO: insert properties of editableList here -->

                    <!--<Label class="list-group-item-heading fa"></Label>-->


                    <Label class="list-group-item-text m-l-10 m-t-10" row="1" colSpan="3" [text]="item.data.DescriptionField" textWrap="true">
                    </Label>

                </GridLayout>

                <GridLayout row="1">

                    <StackLayout class="form">
                        <GridLayout class="input-field" columns="*, *">
    <Label class="h3 text-muted" text="Description"></Label>

    <Label #descriptionField class="h1" col="1" [text]="item.data.DescriptionField" textWrap="true"></Label>

</GridLayout><GridLayout class="input-field" columns="*, *">
    <Label class="h3 text-muted" text="Code"></Label>

    <Label #codeField class="paragraph h3" col="1" [text]="item.data.CodeField" textWrap="true"></Label>

</GridLayout><GridLayout class="input-field" columns="*, *">
    <Label class="h3 text-muted" text="Date"></Label>

    <Label #dateField class="paragraph h3" col="1" [text]="item.data.DateField" textWrap="true"></Label>

</GridLayout><GridLayout class="input-field" columns="*, *">
    <Label class="h3 text-muted" text="MPID"></Label>

    <Label #mpidfield class="paragraph h3" col="1" [text]="item.data.MPIDField" textWrap="true"></Label>

</GridLayout><GridLayout class="input-field" columns="*, *">
    <Label class="h3 text-muted" text="SeqNo"></Label>

    <Label #seqNoField class="paragraph h3" col="1" [text]="item.data.SeqNoField" textWrap="true"></Label>

</GridLayout><GridLayout class="input-field" columns="*, *">
    <Label class="h3 text-muted" text="TrackingNo"></Label>

    <Label #trackingNoField class="paragraph h3" col="1" [text]="item.data.TrackingNoField" textWrap="true"></Label>

</GridLayout><GridLayout class="input-field" columns="*, *">
    <Label class="h3 text-muted" text="Type"></Label>

    <Label #typeField class="paragraph h3" col="1" [text]="item.data.TypeField" textWrap="true"></Label>

</GridLayout><!--- editableListForm61 additional fields -->
                    </StackLayout>
                    <!--- master detail form -->

                </GridLayout>
            </GridLayout>
        </StackLayout>
        <!-- START_CUSTOM_CODE_clinicalModel -->

        <!-- END_CUSTOM_CODE_clinicalModel -->
    </ScrollView>


    <ActivityIndicator class="activity-indicator" rowSpan="2" [busy]="!item" [visibility]="item ? 'collapse' : 'visible'">
    </ActivityIndicator>
</GridLayout>