<GridLayout rows="*, auto">
    <ScrollView>
        <StackLayout class="list-group">
            <GridLayout class="list-group-item" rows="auto, auto">
                <GridLayout columns="auto, 10, *" rows="auto, auto">
                    <!-- TODO: insert properties of editableList here -->

                    <!--<Label class="list-group-item-heading fa"></Label>-->

                    <StackLayout col="2">
                        <Label class="list-group-item-heading" [text]="item.data.DisplayName"></Label>
                    </StackLayout>


                </GridLayout>

                <GridLayout row="1">
                    <!--- master detail form -->
                </GridLayout>
            </GridLayout>
        </StackLayout>
        <!-- START_CUSTOM_CODE_usersModel -->

        <!-- END_CUSTOM_CODE_usersModel -->
    </ScrollView>


    <GridLayout row="1">
        <Button class="btn btn-primary" text="Edit" (tap)="onEdit()"></Button>
    </GridLayout>


    <ActivityIndicator class="activity-indicator" rowSpan="2" [busy]="!item" [visibility]="item ? 'collapse' : 'visible'">
    </ActivityIndicator>
</GridLayout>