<ns-action-bar [title]="title" [showBack]="mode != modes.LIST" (back)="onNavigateBack($event)" <!--- component view navigation directive --->

    ></ns-action-bar>


<GridLayout>

    <GridLayout *ngIf="mode == modes.LIST">
        <ns-activities-list [items]="items$ | async" [service]="service" (select)="onSelect($event)" (navigate)="onNavigate(modes.ADD)">
        </ns-activities-list>
    </GridLayout>


    <GridLayout *ngIf="mode == modes.DETAIL">
        <ns-activities-detail [current]="currentItem$ | async" [service]="service" (navigate)="onNavigate(modes.EDIT)">
        </ns-activities-detail>
    </GridLayout>


</GridLayout>
<!-- additional view content -->

<!-- START_CUSTOM_CODE_activities -->
<!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

<!-- END_CUSTOM_CODE_activities -->