<RadSideDrawer>
  <StackLayout tkDrawerContent class="sidedrawer-left">
    <ScrollView>
      <StackLayout class="sidedrawer-content">
        <GridLayout *ngFor="let item of navigationItems" class="sidedrawer-list-item" rows="auto, auto" columns="auto, *" [nsRouterLink]="[item.path]">
          <Label class="sidedrawer-list-item-icon fa" [text]="item.icon"></Label>
          <Label class="sidedrawer-list-item-text" col="1" [text]="item.title"></Label>
        </GridLayout>
      </StackLayout>
    </ScrollView>
  </StackLayout>

  <GridLayout tkMainContent>
    <router-outlet></router-outlet>
  </GridLayout>
</RadSideDrawer>
