<GridLayout rows="*, auto">
    <ListView class="list-group" [items]="items">
        <template let-item="item">
            <GridLayout class="list-group-item" rows="auto, auto" (tap)="onSelect(item)">
                <GridLayout columns="auto, 10, *" rows="auto, auto">


                    <StackLayout col="2">

                        <Label class="list-group-item-heading" [text]="item.data.MPI"></Label>


                        <Label class="list-group-item-text" [text]="item.data.Name"></Label>

                    </StackLayout>
                </GridLayout>

                <GridLayout row="1">
                    <!--- master detail form -->
                </GridLayout>
            </GridLayout>
        </template>
    </ListView>


    <GridLayout row="1">
        <Button class="btn btn-primary" text="Add" (tap)="onAdd()"></Button>
    </GridLayout>


    <ActivityIndicator class="activity-indicator" rowSpan="2" [busy]="!items.length" [visibility]="items.length ? 'collapse' : 'visible'">
    </ActivityIndicator>
</GridLayout>