<GridLayout rows="*, auto">
    <ScrollView>

        <StackLayout class="form">
            <GridLayout class="input-field" columns="*, *">
    <Label class="h3 text-muted" text="MPI"></Label>
    <TextField #mpifield class="input" col="1" [(ngModel)]="item.data.PatMPIDField" hint="Type here ..."></TextField>
</GridLayout><!--- editableListForm52 additional fields -->
        </StackLayout>
        <!--- master detail form -->

    </ScrollView>

    <GridLayout row="1" columns="*, *">
        <Button class="btn btn-primary" text="Update" (tap)="onUpdate()"></Button>
        <Button class="btn btn-outline" col="1" text="Delete" (tap)="onDelete()"></Button>
    </GridLayout>

    <ActivityIndicator class="activity-indicator" rowSpan="2" [busy]="!item" [visibility]="item ? 'collapse' : 'visible'">
    </ActivityIndicator>
</GridLayout>