<GridLayout rows="*, auto">
    <ScrollView>
        <StackLayout class="list-group">
            <GridLayout class="list-group-item" rows="auto, auto">
                <GridLayout columns="auto, 10, *" rows="auto, auto">
                    <!-- TODO: insert properties of editableList here -->

                    <!--<Label class="list-group-item-heading fa"></Label>-->

                    <StackLayout col="2">
                        <Label class="list-group-item-heading" [text]="item.data.NameField"></Label>
                    </StackLayout>


                </GridLayout>

                <GridLayout row="1">

                    <StackLayout class="form">
                        <GridLayout class="input-field" columns="*, *">
    <Label class="h3 text-muted" text="Text Block"></Label>

    <Label #textBlock class="paragraph h3" col="1" [text]="item.data.SurnameField" textWrap="true"></Label>

</GridLayout><!--- editableListForm37 additional fields -->
                    </StackLayout>
                    <!--- master detail form -->

                </GridLayout>
            </GridLayout>
        </StackLayout>
        <!-- START_CUSTOM_CODE_patientsDetailViewModel -->

        <!-- END_CUSTOM_CODE_patientsDetailViewModel -->
    </ScrollView>


    <ActivityIndicator class="activity-indicator" rowSpan="2" [busy]="!item" [visibility]="item ? 'collapse' : 'visible'">
    </ActivityIndicator>
</GridLayout>